@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
}

header {
    display: grid;
    grid-column: auto;
    grid-template-rows: auto;
    background-color: rgba(61, 224, 126, 1);
}

.hamburgarMeny {
    margin: 1rem;
}

p.header-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
}

nav.ninja-head {
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    justify-content: center;
    /*
    margin-left: auto;
    margin-right: auto;*/
}

.poster-card-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.small-card {
    height: auto;
    width: 14vw;
    display: flex;
    flex-direction: column;
}


.small-card-img {
    height: 100%;
    width: auto;
}

p {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

.card-btn {
    border: none;
    background-color: rgb(173, 10, 10);
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    max-width: 8rem;
}

.poster-card-container-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: auto;
    margin-bottom: 4rem;
}

.big-card {
    height: auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.text-big-card {
    color: black;
    margin-left: 0.3rem;
}

.h2-big-card {
    color: black;
    margin-left: 0.3rem;
}

.big {
    max-width: 10rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
}

footer {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    background-color: rgba(255, 255, 255, 0.2);
    
}

section.footer-items {
    display: flex;
    justify-content: space-around;
}

figure {
    margin: 0;
}
/*
ul {
    list-style: none;
    margin-bottom: 0;
    margin: 4rem;
    color: whitesmoke;
}

Allt detta går att göra i ett stycke ovan
ul.nav {
    list-style: none;
    margin-bottom: 0;
}

ul.adress {
    list-style: none;
    margin-bottom: 0;
}

ul.icons {
    list-style: none;
    margin: 0;
}
*/

.nav-title {
    font-size: 1.5rem;
    font-weight: 300;
}


/*
.icons-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
*/
.media-icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

h1.checkout {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.items-price {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}